@import "tailwindcss";
@tailwind utilities;

:root {
  --neon-green: #00ff6a;
  --neon-glow: 0 0 20px #00ff6a, 0 0 40px #00ff6a;
}

body {
  margin: 0;
  font-family: var(--font-orbitron), sans-serif;
  background: black;
  color: white;
}

h1, h2, h3, h4 {
  text-shadow: var(--neon-glow);
}

button {
  background-color: var(--neon-green);
  border: none;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: var(--neon-glow);
  transition: 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}
